<h2>Countdown timer</h2>

<input type="date" id="date-selector" />
<button type="button" id="start" data-start>Start countdown</button>

<div class="timer">
  <div class="timer__item">
    <span class="value" data-days>00</span>
    <span class="label">Days</span>
  </div>

  <div class="timer__item">
    <span class="value" data-hours>00</span>
    <span class="label">Hours</span>
  </div>

  <div class="timer__item">
    <span class="value" data-minutes>00</span>
    <span class="label">Minutes</span>
  </div>

  <div class="timer__item">
    <span class="value" data-seconds>00</span>
    <span class="label">Seconds</span>
  </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
